* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sinupSingin::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 2, 5, 0.7);
}
body {
  background: #f5f7fc;
}
.cardcontain {
  transition: 0.4s;
  border-radius: 10px;
}
.cardcontain:hover {
  background-color: #26ae61;
  color: white;
}
.cardbtn {
  background-color: #26ae61 !important;
}
.cardcontain:hover .cardbtn {
  background-color: white !important;
  color: rgb(7, 7, 7) !important;
  font-weight: bold;
}

:root {
  --muitabbgCololr: #f4f4f4 !important;
  --muitabColor: #000000 !important;
}
.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-around;
}
.MuiTabs-root {
  padding: 1rem;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .MuiTabs-root {
    padding: 0;
    border-radius: 4px;
  }
  .MuiTab-root {
    margin: 0 0.5rem !important;
  }
}
.MuiTab-root {
  color: var(--muitabColor) !important;
  border-radius: 4px !important;
  padding: 0px 2.5rem !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiTab-root:hover {
  background: #26ae61 !important;
  color: #ffffff !important;
  transition: all 0.3s ease-in-out;
}
.Mui-selected {
  color: #ffffff !important;
  border-radius: 4px !important;
  background: #26ae61 !important;
  padding: 0px 2.5rem !important;
  text-transform: capitalize !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(71%) sepia(22%) saturate(4397%) hue-rotate(340deg)
    brightness(91%) contrast(88%);
  cursor: pointer;
}
.custom-date-input {
  position: relative;
}

.custom-date-input .placeholder {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the left position as needed */
  transform: translateY(-50%);
  color: #aaa; /* Customize the color of the placeholder */
  pointer-events: none; /* Make the placeholder not clickable */
}

.custom-date-input input[type="date"]:not(:placeholder-shown) + .placeholder {
  display: none; /* Hide the placeholder when input is not empty */
}
